<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <a href="index.html">Homepage</a>
  
        <a href="/views/projects.html">Projects</a>
        <a href="/views/about.html">About</a>
        <a href="/views/contact.html">Contact</a>
    </nav>
   
    <div class="skill-hobbies">
        <h2>About Me</h2>
        <div class="skill-row">
            <img class='laptop' src="/images/macbook-pro.png" alt="macbook-image">
            <h3>Development</h3>
            <p class="context">My experience is mostly about full-stack development but I also focus other fields like Computer Network & IOT</p>
        </div>

        <div class="skill-row">
            <img class='anime' src="/images/animation.png" alt="animation-image">
            <h3>Anime</h3>
            <p class="context">After hard-working time, my friends and I also do web design, clone the interesting features seen in the other websites</p>
        </div>
    </div>

    <hr size="2" noshade>
    
    
</body>
</html>