<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/favicon.ico" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Contact</title>
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/views/index.html">Homepage</a>

      <a href="/views/projects.html">Projects</a>
      <a href="/views/about.html">About</a>
      <a href="/views/contact.html">Contact</a>
    </nav>
  </body>
</html>
