<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>

    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="icon" href="/images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/views/index.html">Homepage</a>

      <a href="/views/projects.html">Projects</a>
      <a href="/views/about.html">About</a>
      <a href="/views/contact.html">Contact</a>
    </nav>

    <section class="">
      <div id="map" class="map"></div>
    </section>

    <div class="get-in-touch">
      <h2>Contact Me</h2>
      <h3 class="infor-get-in-touch">
        If you love 🏀 and anime as much as I do
      </h3>
      <p>
        Let's talk about how awesome they are. We can code and after that, we
        can watch some anime tv shows together.
      </p>
      <a class="contact" href="mailto:tmhuy.itiu@gmail.com">CONTACT ME</a>
    </div>

    <div class="link-infor">
      <a class="social-media" href="https://twitter.com/HuyMTran1810"
        >Twitter</a
      >
      <a
        class="social-media"
        href="https://www.facebook.com/profile.php?id=100047967413515"
        >Facebook</a
      >
      <a class="social-media" href="https://github.com/tmhuyy">Github</a>
      <p class="copyright">© 2021 Huy Tran.</p>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
