<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huy Tran</title>

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <a href="/views/index.html">Homepage</a>
  
        <a href="/views/projects.html">Projects</a>
        <a href="/views/about.html">About</a>
        <a href="/views/contact.html">Contact</a>
    </nav>
    <div class="introduction">
        <img class='top-cloud' src="/images/cloud.png" alt="cloud-image">
        <h1>I'm Huy Tran.</h1>
        <h2>CSIU'24 | Software Engineer .</h2>
        <img class='bottom-cloud' src="/images/cloud.png" alt="cloud-image">
        <!-- <img class='mountain' src="/images/mountain.png" alt="mountain-image"> -->
    </div>

    <div class="information">
        <img class='avatar' src="/images/huy.png" alt="huy-image">
        <h2>Helu Helu.</h2>
        <p class="infor-text">I am a second-year student at IU, stands for International University. I really love 🏀</p>
    </div>

    <hr size="2" noshade>

    <div class="skill-hobbies">
        <h2>Skills And Hobbies.</h2>
        <div class="skill-row">
            <img class='laptop' src="/images/macbook-pro.png" alt="macbook-image">
            <h3>Development</h3>
            <p>I studied 3 types of programming languages in my college. And up till now, I just focus on Python Django. I am also excited about mobile development. </p>
        </div>

        <div class="skill-row">
            <img class='anime' src="/images/animation.png" alt="animation-image">
            <h3>Anime</h3>
            <p>After hard-working time, my friends, and I often watch Anime tv shows. I think it kinda interesting. </p>
        </div>
    </div>

    <hr size="2" noshade>
    <div class="get-in-touch">
        <h2>Get In Touch</h2>
        <h3 class="infor-get-in-touch">If you love 🏀 and anime as much as I do</h3>
        <p>Let's talk about how awesome they are. We can code and after that, we can watch some anime tv shows together.</p>
        <a class="contact" href="mailto:tmhuy.itiu@gmail.com">CONTACT ME</a>
    </div>

    <div class="link-infor">
        <a class='social-media' href="https://twitter.com/HuyMTran1810">Twitter</a>
        <a class='social-media' href="https://www.facebook.com/profile.php?id=100047967413515">Facebook</a>
        <a class='social-media' href="https://github.com/tmhuyy">Github</a>
        <p class="copyright">© 2021 Huy Tran.</p>
    </div>
</body>
</html>