<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huy Tran</title>

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <a href="/views/index.html">Homepage</a>

      <a href="/views/projects.html">Projects</a>
      <a href="/views/about.html">About</a>
      <a href="/views/books.html">Book</a>

      <a href="/views/contact.html">Contact</a>
    </nav>
    
    <div class="introduction">
        <img class='top-cloud' src="/images/cloud.png" alt="cloud-image">
        <h1>I'm Huy Tran.</h1>
        <h2>CSIU'24 | Software Engineer .</h2>
        <img class='bottom-cloud' src="/images/cloud.png" alt="cloud-image">
    </div>

    <div class="information">
        <img class='avatar' src="/images/huy.png" alt="huy-image">
        <a class="resume" href="https://github.com/tmhuyy/portfolio/blob/main/KMS_CV_TrầnMinhHuy.pdf">My Resume</a>
    </div>

    <hr size="2" noshade>

    
</body>
</html>