<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>

    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/projects.css" />

    <link rel="icon" href="/images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <a href="index.html">Homepage</a>

      <a href="/views/projects.html">Projects</a>
      <a href="/views/about.html">About</a>
      <a href="/views/contact.html">Contact</a>
    </nav>
    <h2>Projects</h2>

    <div class="projects">
      <div class="project">
        <a href="https://github.com/tmhuyy/online-examination-system">
          <span class="img-project">
            <img
              class=""
              src="/images/online-sys.png"
              alt="online-examinaion"
            />
          </span>
          <div class="context-box">
            <p>Online Examination System</p>
          </div>
        </a>
      </div>
      <div class="project">
        <a href="https://github.com/tmhuyy/quiz-game"
          ><span class="img-project">
            <img class="" src="/images/quizz-app.png" alt="online-examinaion" />
          </span>
          <div class="context-box">
            <p>Quiz Game</p>
          </div></a
        >
      </div>
      <div class="project">
        <a href="https://github.com/tmhuyy/search-english-app"
          ><span class="img-project">
            <img class="" src="/images/search.png" alt="online-examinaion" />
          </span>
          <div class="context-box">
            <p>Search English Word</p>
          </div></a
        >
      </div>

      <div class="project">
        <a href="https://github.com/tmhuyy/react-cv"
          ><span class="img-project">
            <img class="" src="/images/cv.png" alt="online-examinaion" />
          </span>
          <div class="context-box">
            <p>React CV</p>
          </div></a
        >
      </div>

      <div class="project">
        <a href="https://github.com/tmhuyy/react-cv"
          ><span class="img-project">
            <img class="" src="/images/snake_game.jpeg" alt="online-examinaion" />
          </span>
          <div class="context-box">
            <p>Snake Game</p>
          </div></a
        >
      </div>
    </div>
    <hr size="2" noshade>

    <a href="https://github.com/tmhuyy">
        <h2>See more details in my GitHub</h2>
    </a>
    
  </body>
</html>
