
body {
    height: 100vh;
    margin: 0; 
    background-color: var(--dark-700);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

h1 {
    color: var(--color-purple-200)
}