* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-blue-1: #2C74B3;
  --color-blue-2: #205295;
  --color-blue-3: #144272;
  --color-blue-4: #0A2647;
  --color-gray-1: #968c83;
}